.m-1 {
  margin: 0.25rem
}

.mt-10 {
  margin-top: 2.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}
